.header {
    height: 40px;
    background-color: #fff;
    outline: 1px solid rgb(216, 216, 216);
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    align-items: center;
    padding: 0 0 0 1rem;

    .buttons {
        display: flex;
        align-items: center;
    }
}

.status {
    --size: 10px;

    border-radius: 50%;
    width: var(--size);
    height: var(--size);
    display: inline-block;
}

.connected {
    background: rgb(0, 255, 0);
    border: 1px solid rgb(0, 126, 27);
}
.not_connected {
    background: rgb(255, 0, 0);
    border: 1px solid rgb(161, 5, 5);
}