<div class="match">

    <div class="board">
        <pre>{{ userService.playerData | json }}</pre>
        <div class="field">
            <div *ngFor="let cuadrito of matchService?.match">

            </div>
        </div>
    </div>
    <div class="info">
        <p>{{matchService.match?.id}}</p>

        <button mat-stroked-button color="primary" (click)="socketIoService.disconnectToMatch()">disconnect</button>
        <button mat-stroked-button color="primary" [disabled]="!matchService.match?.canStart">Start</button>

        <p>owner: {{matchService.match?.player1?.name}}</p>
        <p>{{matchService.match?.player2?.name}}</p>

        <!-- <div class="ships"> -->
        <div class="ships" *ngIf="matchService.match?.canStart">
            <button>ship1-2</button>
            <button>ship1-1</button>
            <button>ship2-1</button>
            <button>ship2-2</button>
            <button>ship3-1</button>
            <button>ship3-2</button>
            <button>ship4-1</button>
            <button>ship4-2</button>
            <button>ship5-1</button>
            <button>ship5-2</button>
        </div>
    </div>
</div>
