<div class="match">
    <div class="board">
         <div class="self gameBoard" *ngIf="match">
            <div *ngFor="let rowSize of gameBoardSize" class="gameBoardGrid">
                <input type="checkbox" id=checkbox-{{rowSize}} [disabled]="!canPutBoats">
                <label
                    for=checkbox-{{rowSize}}
                    id=label-{{rowSize}} 
                    (mouseover)="mouseOver($event)"
                    (mouseout)="cleanBoard(false, false)"
                    (click)="putShip($event)"
                >
                    {{rowSize}}
                </label>
                <div class="imgSize" id="imgSize-{{rowSize}}">
                    <img src="" alt="" id="img-{{rowSize}}">
                </div>
            </div>
        </div>
        <div class="enemy gameBoard" *ngIf="match?.canStart">
            <div *ngFor="let rowSize of gameBoardSize" class="gameBoardGrid">
                <input type="checkbox" id={{rowSize}} [disabled]="true">
                <label for={{rowSize}}>{{rowSize}}</label>
            </div>
        </div> 
    </div>
    <div class="info" >
        <div *ngIf="!match">
            loading...
        </div>
        
        <div *ngIf="match">
            <p>{{match.id}}</p>
    
            <button mat-stroked-button color="primary" (click)="socketIoService.disconnectToMatch()">disconnect</button>
            <button mat-stroked-button color="primary" [disabled]="!canStart">Start</button>
    
             <p>owner: {{match.player1?.name}}</p>
            <p>{{match.player2?.name}}</p>

            <button (click)="cleanBoard(true, true)">Clean</button>
    
            <div class="ships" *ngIf="match.canPutBoats">
                <div class="ship">
                    <button (click)="selectShip($event, 3)">
                        <img src="assets/img/ship.png" alt="ship-1" id="ship-10" class="vertical">
                    </button>
                    <button (click)="selectShip($event, 3)">
                        <img src="assets/img/ship.png" alt="ship-1" id="ship-11" class="horizontal">
                    </button>
                    <h3>Ship 1</h3>
                </div>
                <div class="ship">
                    <button (click)="selectShip($event, 3)">
                        <img src="assets/img/ship.png" alt="ship-2" id="ship-20" class="vertical">
                    </button>
                    <button (click)="selectShip($event, 3)">
                        <img src="assets/img/ship.png" alt="ship-2" id="ship-21" class="horizontal">
                    </button>
                    <h3>Ship 2</h3>
                </div>
                <div class="ship">
                    <button (click)="selectShip($event, 3)">
                        <img src="assets/img/submarine.png" alt="ship_3-1" id="ship-30" class="vertical">
                    </button>
                    <button (click)="selectShip($event, 3)">
                        <img src="assets/img/submarine.png" alt="ship_3-2" id="ship-31" class="horizontal">
                    </button>
                    <h3>submarine</h3>
                </div>
                <div class="ship">
                    <button (click)="selectShip($event, 4)">
                        <img src="assets/img/aircraft_carrier.png" alt="ship_4-1" id="ship-40" class="vertical">
                    </button>
                    <button (click)="selectShip($event, 4)">
                        <img src="assets/img/aircraft_carrier.png" alt="ship_4-2" id="ship-41" class="horizontal">
                    </button>
                    <h3>Circraft Carrier</h3>
                </div>
                <div class="ship">
                    <button (click)="selectShip($event, 4)">
                        <img src="assets/img/destroyer.png" alt="ship_5-1" id="ship-50" class="vertical">
                    </button>
                    <button (click)="selectShip($event, 4)">
                        <img src="assets/img/destroyer.png" alt="ship_5-2" id="ship-51" class="horizontal">
                    </button>
                    <h3>Destroyer</h3>
                </div>
            </div>
        </div>
    </div>
    <img src="" #followMouse class="followMouse">
</div> 
