.match {
    padding-top: 50px;
    box-sizing: border-box;
    height: 100vh;
    display: flex;

    .board {
        width: 100%;
        background-color: green;
        display: flex;
        flex-direction: column;
        align-items: center;

        .match_info {
            position: absolute;
        }

        canvas {
            --size: 500px;

            background:#3e9bff;
            width: var(--size);
            height: var(--size);
            outline: 1px solid black;
        }
    }

    .info {
        width: 400px;
        padding: 1rem;
        box-sizing: border-box;

        .ships {
            width: 100%;
            display: grid;
            grid-template-columns: auto auto;
            gap: 10px;
        }
    }
}