.match {
    display: flex;
    height: calc(100vh - 50px);
    // min-height: 700px;
}

.matchLog {
    max-height: 500px;
    position: absolute;
    top: 0;
    background-color: #252525;
    color: #fff;
    overflow: auto;
    padding: 1rem 2rem;
    z-index: 100;
}

.board {
    width: 100%;
    background-color: green;

    .match_info {
        height: fit-content;
        background-color: #fff;
        grid-column: 1/3;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding: 0 1rem;
        box-sizing: border-box;

        .players {
            display: flex;

            > * {
                display: block;
                margin: 0;
                border-right: 1px solid;
                padding: 0 0.5rem;
                box-sizing: border-box;
            }
        }
    }

    .boards {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 4rem;
        box-sizing: border-box;
    }
}

.info {
    width: 400px;
    padding: 1rem;
    box-sizing: border-box;

    .ships {
        * {
            margin-bottom: .5rem;
        }
    }

    .ship {
        display: grid;
        width: 100%;
        grid-template-columns: 60px 60px auto;
        gap: 10px;
        align-items: end;
        padding: 0 1.5rem;
        box-sizing: border-box;

        button {
            --size: 60px;
            width: var(--size);
            height: var(--size);
            border: none;
            background: none;
            filter: drop-shadow(2px 4px 6px black);
            
            &:not(:disabled){
                cursor: grab;
                filter: none;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }

            .horizontal {
                transform: rotate(90deg);
            }
        }
    }

    .attacks {
        min-height: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2rem 0;
        box-sizing: border-box;
    
        .attack1 {
            button:disabled {
                background: rgb(255, 0, 0);
            }
            button {
                background: rgb(0 203 0);
                // padding: 0.5rem;
                // box-sizing: border-box;
                width: fit-content;
                height: fit-content;
                
                border-radius: 10px;
                border: 1px solid;
                filter: drop-shadow(2px 2px 0px black);
            }

            img {
                --size: 50px;
                width: var(--size);
                height: var(--size);
                cursor: pointer;
            }
        }
    }
}

.followMouse {
    --size: 60px;
    position: absolute;
    width: var(--size);
    height: var(--size);
    display: none;
    // outline: 1px solid;
    background-size: contain;
}