<div class="login">
    <h1>Battleship</h1>

    <div class="content">
        <form class="anonimusPlayerLoguin">
            <input 
                type="text" 
                name="displayName" 
                [(ngModel)]="name"
                placeholder="Name"
                required="required">
            <input 
                type="password" 
                name="password" 
                [(ngModel)]="password"
                placeholder="Password"
                required="required">

            <button (click)="anonimusPlayerLogin()">login</button>
        </form>


        <button mat-raised-button color="primary" (click)="googlePlayerLogin()">
            <fa-icon [icon]="faGoogle"></fa-icon>
            Login
        </button>
    </div>
</div>